[2015-04-21 16:07] philipbeel opened #1 "Please help me with CSS bug"
Hi,

This is my brothers account, plz can you tell me how I can use this to make a Facebook style social media site.

Thanks

[2015-04-21 16:15] leejordan commented on #1
STOP TROLLING ME PHIL

[2015-04-21 16:15] #1 closed

[2015-08-12 16:52] argyleink opened #4 "grid__col-auto would be nice"
1 flexbox feature I can't seem to figure out with your lib is an auto column option.

[2015-08-13 20:50] argyleink opened #5 "register with bower =)"
I'm pulling your project down, but since it's not checked into bower, I can't specify a version. Someone might want that one day.

[2015-08-18 15:36] leejordan commented on #4
I've added this to this branch: https://github.com/leejordan/reflex/tree/autoCols

Can you confirm it's what you were expecting. The only issue with auto columns is that it doesn't fully work in the inline-block fallback:

Flexbox:

![screen shot 2015-08-18 at 16 35 22](https://cloud.githubusercontent.com/assets/713293/9334522/2ec31334-45c7-11e5-97cd-4302cc4d0db7.png)

Inline-block:

![screen shot

[2015-08-18 16:51] argyleink commented on #4
that's it! works great =)

![](http://media.giphy.com/media/lFlZd7ZmoUqVa/giphy.gif)

[2015-08-20 16:31] argyleink commented on #4
after double checking, i think we need to expand this feature! right now, `grid__col-auto` operates like the other non-collapsable columns like `grid__col-3`, but it would behoove the grid to have a "liquid responsive" layout system, and it could be as easy as supporting the following naming convention:

`grid__col-xs`
`grid__col-sm`
`grid__col-md`
`grid__col-lg`

auto width at each sizes respecti

[2015-08-28 19:08] aidangarza opened #7 "'.grid--justify-* .grid__cell' text align values are incorrect"
Shouldn't it be:

`.grid--justify-center .grid__cell { text-align: center; }`

and

`.grid--justify-end .grid__cell { text-align: right; text-align: end; }`

[2015-08-28 19:10] aidangarza opened #8 "What is '.reflex-grid__col-cell'"
In the compiled CSS, lines 142-145:

[code]

[2015-08-28 19:17] aidangarza commented on #7
Also, shouldn't we add a direct child selector so that nested rows and columns don't affect inner children?

So:

`.grid--justify-center > .grid__cell { text-align: center; }`

[2015-08-28 19:20] leejordan commented on #8
This is an ie11 only hack for fullscreen mode that incorrectly uses some old class name combos from an earlier version. Will be fixed in the next release.

It should (and will) be:

[code]

[2015-08-28 19:27] leejordan commented on #7
grid__cell is intended to be used for setting display back to block and giving you back a "clean slate" for layout within the grid so I therefore wouldn't expect the content of these elements to obey flexbox layout modifiers in the grid in general. Maybe that isn't clear from the documentation or maybe my personal thinking here is not in line with your expectation of how it should behave. Given wh

[2015-09-07 10:31] leejordan commented on #8
fixed in release 1.0.3

[2015-09-07 10:31] #8 closed

[2015-09-07 10:31] leejordan commented on #4
implemented in release 1.0.3

[2015-09-07 10:31] #4 closed

[2015-09-07 10:31] leejordan commented on #5
Implemented in release 1.0.3

[2015-09-07 10:31] #5 closed

[2015-09-07 11:20] leejordan commented on #7
Can you give an example of why you think this would be better behaviour? For example, if you're using `grid--justify-center` on a `grid__col-x`, these are set as `flex-direction: column` therefore centering the text doesn't make sense here as justify would be working on the vertical (main) axis, not the horizontal (cross) axis.

Also as I said before, `grid__cell` is an optional child class for gi

[2015-09-07 11:20] #7 closed

[2015-11-11 14:41] iamstuartwilson opened #11 "SASS version would be nice"

[2015-11-11 14:42] iamstuartwilson commented on #11
@leejordan, don't worry I'm on it!

[2015-11-11 14:43] leejordan commented on #11
:+1:

[2015-11-25 13:17] OldNick opened #12 "Offsets"
I like this grid system - particularly that you can write semantic html rather than `<div class="row">` etc.

However, I'm developing for a site using Concrete5 which has the capacity to do on-the-fly layouts but, to set this up, you have to provide "offset" classes. I suppose I could basically copy the bootstrap offset system, but there may be a better way to do it.

I realize including offset cl

[2015-11-25 14:22] leejordan commented on #12
You're right that it would increase the size greatly but it is something I have considered adding (I just haven't found the time yet).

I realise it doesn't help your use case with Concrete5 but one thing you can do is use empty columns to offset things, or just add horizontal padding to the `grid` element.

[2015-11-25 14:49] OldNick commented on #12
I figured you could use an empty column - although, if you're a purist, the semantic side of things gets a bit let down ! I wonder if Concrete5 would accept it though - probably worth a try.
I had a look at the LESS files and it's at a level of sophistication way above my capacities ! Perhaps, looking at it closely, I can work something out.

[2015-11-25 15:08] leejordan commented on #12
Yea I agree totally.

I'd like to add offsets one day as an optional extra for sure.

[2015-12-14 12:08] kmkr opened #14 "Too aggressive text-align-last"
Text-align-last value "left | start" assumes that children aligns everything to the left.

Example: http://plnkr.co/edit/n1za5W?p=preview

[2015-12-14 12:12] kmkr commented on #14
PR https://github.com/leejordan/reflex/pull/15 is meant to fix this. I'm not sure why `text-align-last` was added in the first place, so please verify that the change do not break that before consider accepting the PR.

[2015-12-14 12:24] leejordan commented on #14
Thanks for your pull request. The text-align reset is due to the way the inline-block fallback works with use of text-align. If you have a right aligned grid, you probably don't want the grid contents to inherit this, hence I reset everything to left/start.

`text-align-last` is the closest fallback possible for `justify-content: space-between`

Also I don't think `text-align: auto` is a valid css

[2015-12-14 13:01] kmkr commented on #14
Ok, I see.

That's correct, sorry. It was supposed to be `unset` for the `text-align`, and `auto` only for `text-align-left`. It's fixed in the PR. `text-align-left` set to `auto` should use the value from `text-align` that's unset. I believe this will do the same trick for you (setting to left) without forcing children to override the `text-align-last`.

[2015-12-14 13:12] leejordan commented on #14
Thanks for explaining this sounds pretty good to me. I'll take a proper look and test it out in the future.

[2016-01-04 17:07] xla commented on #14
@leejordan :+1: On smoothing the assumptions around text aligning.

[2016-01-05 11:29] leejordan commented on #14
I've addressed this issue in a recent commit https://github.com/leejordan/reflex/commit/758c9b4dab9fc1ea73147ec13f55608ea099a8e8

showing fix based on your demo: http://plnkr.co/edit/TYwQkEi22YaGzkSsI6gF?p=preview

I've opted to use the "initial" property because it fixes the issue you demonstrated in your demo. It makes the text alignment reset much less aggressive and allows you to more easily h

[2016-01-05 11:29] #14 closed

[2016-01-05 11:33] xla commented on #14
@kmkr @leejordan Thanks a lot! :dango:

[2016-01-17 18:20] kerns commented on #11
Look forward to seeing it in Sass (well, ...scss).

[2016-02-03 18:53] MarcelHekkert commented on #11
+1 Would be a great thing to have!

[2016-02-03 18:58] MarcelHekkert opened #17 "Better responsive img"
I have just started using reflex. When using a responsive image with just grid__cell-img it always scales up (probably also when used inside a cell!). It can be more flexible to make the upscale an extra class. The classname I have used is just a suggestion.

.@{reflex-prefix}grid__cell-img {
        display: block;
        .display-flex-only();
        .flex(0, 0, auto);
        margin-left: 0;

[2016-02-04 09:26] leejordan commented on #17
My thinking on this is if you want the image treated as a flex item, you use the `grid__cell-img` class so it fills the available space correctly, otherwise you set up a `grid__cell` within which you can treat images however you like as they are then out of the flexbox flow.

However maybe this isn't clear, or ideal. I'm open to further discussion and suggestions.

[2016-02-04 11:23] leejordan commented on #11
@iamstuartwilson provided a solution to generate a .scss file which can be imported into sass projects. It's not a SASS version per se but it's a start.

https://github.com/leejordan/reflex/pull/16

[2016-02-06 16:09] RickEyre opened #18 "Include sass version in npm package"
I see there is a sass version, but it doesn't come along when you download with npm. Could we get it published with npm as well?

[2016-02-09 22:15] leejordan commented on #18
Will do shortly, I'm planning a new release.

[2016-02-10 07:46] kerns opened #19 "Abstract Media Queries and Make Them Easily Configurable"
Thrilled to see the scss version, thanks for that.

Now I would just like to see a media query setup that was less opinionated and more configurable. I really love the way gridlex tackles it.

[https://github.com/devlint/gridlex/blob/master/src/gridlex-vars.scss](https://github.com/devlint/gridlex/blob/master/src/gridlex-vars.scss)

Of course I can go in and manually change Reflex to match our alr

[2016-02-15 15:06] RickEyre commented on #18
Great to hear. Thanks!

[2016-02-26 13:29] marzepani opened #20 "Set order of grid elements for breakpoints"
I would like to see a breakpoint option for ordering grid elements.

`.grid--order-<breakpoint>-<n>`

Not possible by now, or am I missing something? Thx!

[2016-02-26 13:54] marzepani commented on #20
FYI: I added this as temporary solution:

[code]

[2016-02-27 15:10] OldNick commented on #12
I think I've cracked the offset question !! Mostly by trial and error...
in mixins.less add

[code]

(the magic is simply adding "- 1" to give "@reflex-columns _**\- 1**_ ")

in grid.less add:

[code]

I don't know about auto-columns, but it'll be a similar process.
(tested using Crunch)

Having said that I can't remember how flex plays with margins... (I sort of dip into site building every six m

[2016-02-28 10:42] OldNick commented on #12
Just been looking here [(http://codepen.io/goerk/pen/uFkny)]
and it seems possible to have offsets _vertically_ !

Do we want to go there...?

Although
`margin : auto`
is quite useful if you have images of different sizes / dimensions to place in a predefined box.

[2016-03-29 14:34] leejordan commented on #20
I'm trying to keep this library as focused and lightweight as possible. As you've discovered it's easy enough to extend it to add this sort of thing.

[2016-03-29 14:34] #20 closed

[2016-03-29 14:36] leejordan commented on #19
If you use the LESS files you can change these breakpoints via variables but I haven't set up a "proper" SASS version yet. One day I hope to do so because I'm using SASS more and more as time goes by.

[2016-03-29 14:39] #17 closed

[2016-03-29 14:41] #11 closed

[2016-03-29 14:52] #19 closed

[2016-04-11 11:50] leejordan commented on #18
version 1.1.0 has just been released and published to npm. It contains a full Sass version.

[2016-04-11 11:50] #18 closed

[2016-04-11 19:06] leejordan commented on #19
there is a proper scss build now so you can incorporate it into your scss workflow and amend the variables including breakpoints to your desired values.

[2016-05-26 17:25] scottromack commented on #12
With flexbox you can controll ordering => https://developer.mozilla.org/en-US/docs/Web/CSS/order. Are you wanting offsets just for visual indention?

[2016-05-26 17:27] ShaggyDude opened #22 "Why the inline-block on the .grid?"
I see you are using inline-block on the grid with some negative letter-spacing stuff to remove extra space. Why not just use display:block? I have never seen this trick but, it seems to work fine. Can you point me to where you picked it up?

[2016-05-27 10:36] leejordan commented on #22
`inline-block` has the most in common with `flex` in that an `inline-block` layout gives you the ability to align elements vertically and horizontally. It made sense to use that as a fallback so that older browsers would still be able to have a mostly intact layout where flexbox is not supported.

Here's an explanation that gives a bit more info: http://www.lendmeyourear.net/layering-css-so-we-can

[2016-05-27 13:02] leejordan commented on #12
Yea, just for visual indentation but I'm not entirely sure it's required.

[2016-06-01 12:54] OldNick commented on #12
Actually I don't think it's _order_ that would control offsets it's more _justify-content_ that would help. However this might not give the precision you want.
There are certain CMS systems, Concrete5 being the one I know, that allow layouts on the fly. Their default layout system is Bootstrap, which I intensely dislike because of its unsemantic, code-bloating markup. To set up the on-the-fly layo

[2016-06-06 08:24] leejordan commented on #12
This was raised in another issue but I am not sure I want to add it to the core as it will bloat it out and it's fairly trivial to add it as you have found. I may reconsider though.

[2016-06-06 08:49] OldNick commented on #12
I think the best procedure may well be to add the code in the .LESS files but commented out. The user could activate it if necessary (after due warning about bloat!).

[2016-06-24 09:19] Mr-Robby opened #23 "Bug in IE11 with IE9 emulation mode on Windows 10"
Hello! I found bug on IE11 (11.420v)  with IE9 emulation mode. `display: inline-block` override by `display:flex`. Here's [screenshot](https://cloud.githubusercontent.com/assets/3427043/16333751/ab1db29e-3a05-11e6-9836-3543c70b3695.png)

[2016-06-24 10:45] leejordan commented on #23
Thanks for your bug report.

I double checked this in browserstack and on a virtual machine running ie9 and the bug does not happen there. It appears to only occur in ie9 emulation mode in ie11 as you say.

I'm not sure there is much I can do to address this bug except maybe update the documentation to mention it and recommend using a VM or browserstack for ie9 testing instead of ie9 emulation.

[2016-06-24 10:45] #22 closed

[2016-06-24 11:38] Mr-Robby commented on #23
Ok, thank you for help!

[2016-06-24 11:38] #23 closed

[2016-06-27 16:15] pwFoo opened #24 "No inline-block with IE <=10"
Hello,

I tested your reflex demo with IE-Tester, but no inline-blocks with IE <=10? So just the flexbox native support for modern browsers?
What's about columns with IE 8/9 or 10?

Regards

[2016-06-27 16:30] leeoniya commented on #24
wonder if it's related to https://github.com/leejordan/reflex/issues/23

[2016-06-27 23:17] leejordan commented on #24
Can you link me to the tool you are using for testing? I know it works on ie <10 because it's used in production on many sites and I tested it myself in vms and on browserstack.

[2016-06-28 05:44] pwFoo commented on #24
[IE-tester](http://www.my-debugbar.com/wiki/IETester/HomePage) which I also used in the past and [IECollection](http://utilu.com/IECollection/#download) to verify it again.
WinXP / Win7 VM. Also native IE inside the VM.

[2016-06-28 08:17] leejordan commented on #24
@pwFoo can you share your markup please? At least just the grid parts.

[2016-06-28 08:20] pwFoo commented on #24
Hi @leejordan
I used your demo ;) It was a first test before I build my own layout with reflex (if it works).
http://leejordan.github.io/reflex/docs/demo.html

[2016-06-28 08:32] leejordan commented on #24
I am on a mac and it looks like neither of those applications will work on mac. Can you post a screenshot perhaps?

I test on a vm and browserstack and on the demo page I can see that I still get an intact inline-block grid on non flexbox browsers although some of the features do not have fallbacks. For example you won't get same height divs, and auto width columns do not work but for the most par

[2016-06-28 17:53] pwFoo commented on #24
Demo grid (http://leejordan.github.io/reflex/docs/index.html) works with Win7 IE-Tester with all the browsers! Don't know why other demo doesn't worked... Thanks.
I'll do some more testing in the next time.

It was important to see it basically works with IE8+ as grid (with inline block fallback).
Maybe I can move to reflex soon :)

[2016-06-28 17:54] #24 closed

[2016-06-29 09:02] leejordan commented on #24
Ok so what has happened here is when adding some of the demos I have added on some extra css on top of the core grid which doesn't fall back so well. I will take some time to sort this out because it makes me look bad :)

[2016-07-04 14:44] frabonomi opened #25 "Box model defined globally with wildcard"
Hey @leejordan I noticed [you set](https://github.com/leejordan/reflex/blob/master/scss/reflex/_grid.scss#L6) the `box-sizing: border-box` declaration for all elements with the `*` selector. I'm wondering if that should be defined only on the elements of the grid.
Is there a reason to set it to all elements?

[2016-07-04 15:20] leejordan commented on #25
This is my personal preference. I always want to use `box-sizing: border-box` myself. Is it causing you problems?

[2016-07-04 15:52] frabonomi commented on #25
I'm also a big fan of setting `box-sizing` to `border-box` as I consider it a best practice, but I'm working on a project with a large codebase that unfortunately has a lot of components relying on the fact that the default value is `content-box`.
Would you ever consider to make the rule specific to the grid and its children?

[2016-07-08 13:39] leejordan commented on #25
This is a fair point actually. I will consider changing this in the next version. In the meantime you could change this yourself fairly easily right? I guess it depends on how you are loading the scss/less/css.

[2016-07-08 16:47] frabonomi commented on #25
Yes, in the meanwhile I can definitely do that. Thank you!

[2016-07-08 20:39] gilluminate opened #26 "text-align-last causes problems in IE11"
`test-align-last` is inherited down through all of the elements within, so even though IE11 does support flexbox, it does support that property. That hack causes the need to supplement every usage of `text-align: right` to also contain `text-align-last: right` and so on or it is broken which is a major pain throughout an entire app.

[2016-07-08 21:07] gilluminate commented on #26
Actually, I was able to track it down a bit further. It appears that IE11 is not respecting 'start' or 'initial' as valid values and therefore 'left' is the only one being applied. So every time we use a text-align other than what has been set using the `__justify--x` modifier, we also have to apply text-align-last.

Is 'text-align-last' the only way to address the last row?

[2016-07-08 23:06] claudio-silva opened #28 "Vertical grid"
Is it possible to distribute cells vertically using grid steps?
I couldn't find anything about it on the docs.
Ex, something like:
[code]

[2016-07-19 11:10] leejordan commented on #28
This is not something I've implemented. I'm not sure how useful it would be. Can you try and sell me on a use case?

[2016-07-19 17:38] claudio-silva commented on #28
It's useful mainly for we applications, not websites, where you have a 100% height on the main container and it is divided into multiple independently scrolling panes.
You could have a top menu bar with a fixed height,  a side bar, a content area on the right split vertically 70% for the main content and 30% for a bottom pane, and finally a footer with a fixed height.
Flexbox is excellent for impl

[2016-07-20 11:12] leejordan commented on #28
It's not something I had considered previously as I tend to use this mainly for laying out horizontal grids and I am keen to keep it as lightweight and focussed as possible.

But I will look into your suggestion further. Thanks for taking the time to explain your use case.

[2016-07-21 19:44] leeoniya opened #29 "should all breakpoints be +1px?"
Hey @leejordan ,

I added an `-sx` breakpoint at 640px in my build and discovered something unexpected. What i wanted to do was target <= 640px screens via `.grid__col-sx-6`. I figured that widths of 640px or less, would result in 6/12 cols (50%). However, the switchover only occurs at 639px due to the generated `min-width` media rule.

This behavior is counter-intuitive to me, with the fix being

[2016-07-27 18:42] CydGoblin commented on #25
If it's a best practice to have `box-sizing: border-box` then it would be better to keep it like that and customize it when needed.

[2016-08-02 03:44] btn0s opened #30 "What do the two whitespace mixins do, and how do I keep my text from crunching?"
I might have set things up wrong but I'm getting an issue with the `setupwhitespace` mixin making all my `inline-block` items and all my text collapse on top of itself, as seen below.

![capture](https://cloud.githubusercontent.com/assets/7322364/17316412/bb1dc3b4-5841-11e6-8078-17019880556f.PNG)

I'm just wondering what I need to do to avoid this? I'm using `@extend` to pull the styles from refle

[2016-08-02 08:13] dmoojunk commented on #30
I would think the issue is that you have content inside a grid, but not inside a column.

[code]

[2016-08-02 23:42] jreichenberg opened #31 "package.json should have a "main""
package.json is missing a "main" field.  bower.json has

[code]

What are your thoughts about making package.json have the same?  I'm using https://www.npmjs.com/package/resolve to resolve the location of the installed package and it relies on having a "main" field that points to a file (or index.js).

[2016-08-08 09:50] leejordan commented on #30
For the inline block fallback I'm using a letter spacing hack to ensure grid consistency. It means that if you don't follow the grid, the letter-spacing never gets set back to it's correct value. There's more info here: https://github.com/leejordan/reflex/issues/22

[2016-08-08 09:50] #30 closed

[2016-08-08 14:28] leeoniya commented on #29
@leejordan ping

[2016-08-08 15:59] leejordan commented on #29
I'm going investigate all open issues when I have a day clear to look at them. Bear with me!

[2016-08-24 09:31] leejordan commented on #31
Sure, I will add this. At the very least just for consistency between npm and bower :)

[2016-08-24 09:47] leejordan commented on #25
I don't see the harm in moving the box-sizing wildcard selector inside the grid as it ensures the grid's css is all self-contained without affecting anything outside the grid itself.

However, as most sites will already be using `box-sizing: border-box;` it does worry me that we'd have redundant properties inside this library but I feel like this is the best solution for the reason outlined above.

[2016-08-24 10:40] leejordan commented on #31
Fixed by this commit to master https://github.com/leejordan/reflex/commit/b1955f9891128fac18af72878125df2623eb7014

New release coming later with some other changes.

[2016-08-24 10:40] #31 closed

[2016-08-24 11:01] leejordan commented on #25
This is changed in commit https://github.com/leejordan/reflex/commit/5a4375130ce9adba46b16d96561b9313a1479870 to master and I will release a new version soon

[2016-08-24 11:01] #25 closed

[2016-08-24 11:19] leejordan commented on #26
I merged your PR and added a new commit to duplicate it in LESS

[2016-08-24 11:19] #26 closed

[2016-08-24 11:20] leejordan commented on #26
Thanks for your help

[2016-08-24 14:06] leejordan commented on #29
I've given this some thought and I think that because it's easy to change the breakpoints (when compiling via LESS or SCSS) I won't be changing the defaults as it's my personal preference to use the breakpoints in this way.

How much of a problem is this for you? When you say it's counter-intuitive is that relative to your expectations or to your experience of using other layout grids?

[2016-08-24 14:07] #29 closed

[2016-08-24 14:18] leejordan commented on #28
You can do this with reflex in a way, as long as you set a height of, say, `100vh` on the parent grid then set your entire grid to `grid--direction-column` which will change the cross and main axis so you can use the justify helpers to set vertical spacing. e.g.:

[code]

`grid__col-x` elements are already set to `flex-direction: column` by default, so again, set the heights of those and you can u

[2016-08-24 15:24] #28 closed

[2016-08-25 15:26] frabonomi commented on #25
Thanks @leejordan!

[2016-09-23 15:45] lechup opened #32 "*-visible / *-hidden classes"
I've read docs, and I didn't notice any `*-visible` / `*-hidden` classes.

Is using those are somewhat wrong and that is why You do not provide them?

Maybe this is a topic for PR?

[2016-09-28 14:20] lechup commented on #32
@leejordan I've created a gist to show what i mean:
https://gist.github.com/lechup/269fd0e93e82d205266d636981ddceb0

It is based on Twitter bootrstrap 4 approach:
http://v4-alpha.getbootstrap.com/layout/responsive-utilities/#available-classes

[2016-10-08 17:12] dmoojunk commented on #32
For anyone interested, I quite liked this scss pattern for generating this - Credit to csswizardry and inuitt.css for the patterns. I will try and get round to a PR.

[code]

[code]

[code]

[code]

[2016-10-10 08:45] leejordan commented on #32
I guess I'm just concerned it will bloat out the framework for a feature that not everybody will need. Right now it's quite focused on one thing. However, it's possible I am wrong about this :)

[2016-10-10 09:06] dmoojunk commented on #32
@leejordan fair enough. Its not difficult to implement if you need it.

[2016-10-10 09:35] lechup commented on #32
Hm... @leejordan so maybe we create separate repo `reflex-grid-addons` and provide info in the docs ?

[2016-10-10 11:06] leejordan commented on #32
Maybe we could add it to this repo but I'm open to ideas on how to make it optional in here. Or maybe I'm just wrong and it should be added by default. I'd be interested to see how much it adds to the final compiled and minified css file size.

[2016-10-10 11:17] lechup commented on #32
See here:
https://gist.github.com/lechup/8bcf7b7af87e0d881c23a4674c75d540#file-reflexvisibility-min-css
it is 646 bytes

10195 bytes has reflexgrid itself, so it is 6,4% size gain ...

[2016-10-10 11:29] leejordan commented on #32
I guess that's worth it as it seems like there is some demand. Open a PR and I'll replicate the same functionality in LESS just for parity 👍

[2016-10-10 11:43] lechup commented on #32
@leejordan I was checking the size of my gist. @dmoojunk code has additional classes `visible-only`.

Which one do You want me to include? TWB4 classes `up/down` or code proposed by @dmoojunk ?

[2016-10-10 14:46] dmoojunk commented on #32
I would strip the visible only's. Its a pretty niche use case I have.

[2016-10-13 11:00] kode8 commented on #32
This would be super handy! Foundation do the same, hide-for-medium, show-for-medium-up etc

[2016-10-20 11:09] robballantyne opened #33 "SCSS placeholders"
Enhancement proposal:

I've been considering how grid systems like this can clutter the markup. My solution to avoid clutter and promote semantic markup is to use SCSS placeholders.

Currently we have (in _helpers.scss) various helper classes for alignment which we can use to position html elements. I think that we can achieve the same thing without breaking anything by making each of those classe

[2016-10-21 12:19] leejordan commented on #33
Can you give me an example of how this would affect the classes and markup you'd be generating? I'm struggling to visualise it.

[2016-10-25 00:02] leeoniya commented on #29
@leejordan

From [1]:

This is basically what i expect, though it seems not to be the default in most grids. My reasoning is that when you serve a page, you serve all the content because you don't have another chance to get it (especially if js is disabled). The layout for all the content is desktop, so you design the desktop layout first (for all screens larger than some value). Then you progress

[2016-11-05 11:23] dmoojunk commented on #29
@leeoniya The mobile first approach is really just so you think about presenting information on small screens first, as they are the most difficult to design. If you can get a good layout on mobile the desktop should easily follow. The inverse is much harder.

[2016-11-09 14:51] Kaivosukeltaja opened #34 "Allow setting vertical padding separately"
I really like Reflex but have some issues with `$reflex-grid-spacing` adding vertical padding as well. I'm trying to position items accurately but having unwanted padding appear at the top and bottom of grid items is making it more difficult than necessary.

Could we have a `$reflex-grid-spacing-vertical` setting that would default to `$reflex-grid-spacing`?

[2016-11-21 12:32] andreasisaak commented on #34
Yeah this is very annoying. I seperate the spacing into grid and cell spacing to avoid vertical padding.

https://github.com/LOUISINTERNET/reflex/commit/570255e0c1f110baa4bdbeec46c14fa6117949cd

If you desired @leejordan, i will create a pull request.

[2016-11-21 12:35] andreasisaak commented on #12
I created a pull request for this feature #35

[2016-11-21 13:17] dmoojunk commented on #12
Perhaps use the pattern of variables controlling inclusion? - i.e. $use-offsets: false!default; and wrap the code in question in an if statement? its cleaner than commenting in/out.
It would start a pattern that would allow the core to remain slim, but extendable.

[2016-11-22 23:08] bbenezech opened #37 "Change project name"
Hard to find/noise on Google, Twitter or Github.

I just counted, there is exactly one million and one project named Reflex on the whole internet, not counting the dark web (too scared to check).

You should change to yafl, encoreflex, suchflex, flexontheDOM, bootflexstrap, flexfoo or xelfer.

Also you need a cool logo, otherwise people won't know for sure you created the best flex grid out there.

[2016-11-23 09:56] iamstuartwilson commented on #37
@bbenezech @leejordan I'm not a designer either, but can I present to you the Reflex Sloth?

![image](https://cloud.githubusercontent.com/assets/3594817/20557336/fb8591d2-b162-11e6-93bb-8f9ac37fd425.png)

Everyone knows that sloths are renouned for their excellent reflexes, not to mention their ability to always centre themselves vertically.

Please vote with reactions:
👍  YES
👎  NO

Thx

[2016-11-23 12:44] marzepani commented on #37
@leejordan I really like the idea to polish your awesome work.

I recommend something like **Flexagon** or **Flexatron**. I kinda think a Retro-Sci-Fi style fits perfectly to a modern/futuristic approach with legacy fallback.
Flexagon hasn't exactly any connection to this, I think, but it would certainly make it easy to find a logo. ;-)

(I would be able to help with the logo, if there is any inte

[2016-11-30 12:39] leejordan commented on #34
This is a fine suggestion and I will be implementing it shortly. Thanks!

[2016-11-30 12:49] #34 closed

[2016-11-30 12:50] leejordan commented on #37
Well this is certainly some food for thought :)

[2016-11-30 12:51] #33 closed

[2016-12-02 12:23] leejordan commented on #12
Having tried this out, I am going to add @andreasisaak proposal to the core library as after gzip it only adds 1k to filesize and is very useful.

[2016-12-02 12:23] #12 closed

[2016-12-13 23:53] manuelbieh commented on #32
Nice. I landed here because I wanted to open a ticket for that. I need to hide content on small devices. That's currently not possible. Which is bad. In my case. I'm pretty sure there will be other people looking for  a way to hide content on mobile.

Adding something like
[code]
doesnt bloat anything.

[2017-01-30 10:32] sarunast opened #39 "The CSS folder files have outdated version (1.2)"
The CSS folder files have outdated version (1.2)

[2017-02-23 13:50] dfedynich opened #40 "Add flag to remove fallback for legacy browsers without flex support"
Hey, guys! Your fallback for older browsers that do not support flexbox is reliable. But this fallback make you include many redundant properties even we use reflex in the scope of modern browsers only. Using _word-spacing_ and _letter-spacing_ properties is great workaround to handle spaces between inline-block elements indeed. But these properties and many other make reflex solution overwhelmed

[2017-02-23 16:05] leejordan commented on #40
This is a great suggestion. This originally started solely as a way to use flexbox with a fallback, but that fallback is becoming increasingly less and less relevant as browsers mature.

[2017-03-07 09:34] andrewQwer opened #41 "Nested rows/columns"
Hi guys,

How should I use nesting? For example if I declared `grid` and `grid__col-12` inside and I want to split `col-12` into 3 cells for example. Should I include another `grid` inside `col-12` or I can declare `col-x` directly in `col-12`?
Example:
[code]

Thanks

[2017-03-07 11:32] jacmanh commented on #41
Yes you should, if you don't do it it's not working anyway :)
Look at the demos on leejordan's website : http://leejordan.github.io/reflex/docs/demo.html

If look at the second grid styles, you should see :
`flex: 1 1 auto;`
It's like reseting the grid if i'm not wrong.

[2017-03-07 11:39] andrewQwer commented on #41
thanks @jacmanh

It works even without additional `grid` wrapper that is why I am asking :)

[2017-03-07 13:16] jacmanh commented on #41
Are you sure ? I just test it and it doesn't with this code :
[code]

If you tested it with your code above, it will work because you misspell grid__col12, you forgot a dash.

[2017-03-07 13:37] andrewQwer commented on #41
Take a look at this example please https://jsfiddle.net/wstezt1k/
The only difference is that `grid` wrapper doesn't required `grid--direction-row` as it is by default for `grid`. But for `grid__col-x` we need to define it explicitly

[2017-03-08 12:12] leejordan commented on #41
Well as you discovered it's fairly flexible and you can do it either way - either with a `grid` nested inside a `grid__col` or by setting `grid--direction-row` on the parent `grid__col`. Either works and I use both in production on my various websites.

However I would argue that nesting a `grid` inside a `grid__col` before setting further `grid__col` elements is the most understandable way of doi

[2017-03-08 12:14] #41 closed

[2017-03-08 12:15] andrewQwer commented on #41
Thank you!

[2017-03-08 12:17] leejordan commented on #39
Thanks, this was an oversight and it's fixed in master. I'll do a new release when I've finished up some other changes.

[2017-03-08 12:17] #39 closed

[2017-03-08 12:17] #37 closed

[2017-03-08 12:30] frabonomi commented on #41
Though if you want to follow BEM rules, you wouldn't apply a modifier of `grid` to `grid__col`. `grid--direction-row` should just be applied to an element that has the `grid` class.

[2017-03-08 14:30] leejordan commented on #41
That's a good point too. There's a few occasions where a class can be applied to either a `grid` or a `grid__col`. Would you advocate creating two separate classes for that purpose even though they would apply the exact same properties?

[2017-03-08 15:18] frabonomi commented on #41
That's what I would do honestly, even if that results in a longer class. What are the classes that you can apply to both `grid` and `grid__col` currently?

[2017-03-08 15:19] andrewQwer commented on #41
But what if I want row direction for `grid__col-x` element?

[2017-03-08 16:41] leejordan commented on #40
I've added this functionality in release 1.4.0. Thanks for the suggestion!

https://github.com/leejordan/reflex/releases/tag/1.4.0

[2017-03-08 16:41] #40 closed

[2017-03-08 18:09] leejordan commented on #32
I ended up needing these myself so I've added my implementation which is optional in version 1.5.0

https://github.com/leejordan/reflex/releases/tag/1.5.0

[2017-03-08 18:09] #32 closed

[2017-03-28 15:21] fr3dm4n opened #42 "To radical selector in grid"
Given you are using existing form element (like we do), this line produced some graphic glitches. Usually you work with `content-box` elements which means: Every button, input, checkbox, fieldset, ... has to be modified if you like to use reflex

Instead of
[code]

how about:
[code]
Could this work?

[2017-04-01 12:03] malasaad82 opened #43 "Auto flex column"
Hi,
I am just wonder if this feature already exist..
something like this:
https://codepen.io/dudleystorey/pen/Kgofa

And its not the same as grid__col-auto.

[code]

[2017-06-01 17:38] rgozim opened #44 "Naming convention"
As Reflex can be used as row based or column based, would it not make sense to rename `col` to `item`, which is a more generic term free from direction connotation?

[2017-09-18 08:47] leejordan commented on #42
This is a fair point and I have incorporated a solution into version 2 which will be released very soon.

[2017-09-18 08:47] #42 closed

[2017-09-18 08:49] leejordan commented on #44
Given the forthcoming changes in version 2, I think this comment will no longer be relevant. I'm dramatically changing the behavior of the grid. It should be released shortly.

[2017-09-18 08:49] #44 closed

[2017-09-18 08:59] leejordan commented on #43
The tricky thing about this is that you need to set a width on the columns for this to work. So I'm unsure if it's worth adding a width because who knows what width is the most generic and useful? This feels like something that can be built on top of the grid and I am considering producing example SCSS and html on the example page rather than add something to the core grid that I can't ensure is g

[2017-09-18 14:30] leejordan commented on #43
After looking into this in a bit more detail I can show you how to achieve this for yourself. In the current version (2.0.0) of reflex, you could modify this line and set a basis (effectively a min-width) for auto cols

https://github.com/leejordan/reflex/blob/master/scss/includes/_mixins.scss#L32

The example you linked to use 200px so change this line to:

[code]

This will replicate the behavio

[2017-09-18 14:30] #43 closed

[2017-10-21 16:36] sidewalksalsa opened #47 "Question: Dropped !important in v2 intentional?"
Hey @leejordan,

I have noticed in v2 that all of the "!important" was dropped from the auto cols, the .grid class, and the .hidden helpers.  I just want to confirm that this was intentional and that we aren't missing anything in v2?

https://github.com/leejordan/reflex/blob/master/scss/includes/_mixins.scss#L43-L49

Thanks!

[2017-10-23 17:39] leejordan commented on #47
Those !importants were previously used to get around CSS specificity problems. With the rewrite I was able to plan it all out so these were no longer required.

You should find the examples work even without them because of the new way it is all structured.

http://reflexgrid.com/docs/#auto-grid
http://reflexgrid.com/docs/#visibility-helpers

[2017-10-23 17:39] #47 closed

[2017-10-24 06:22] miketdonahue commented on #47
Cool, thanks!

[2017-11-13 23:42] leslc opened #48 "Possible to release non-breaking BEM-supported 2.0?"
Hi @leejordan,

Thanks for sharing the reflex grid.  Our project has benefited immensely from it.  We want to upgrade to 2.0 but there are too many pages to regression to change the HTML.

I know you have thought over the BEM naming issue a bit.  As some people have requested backward compatible version as well, would you entertain publishing an older version (e.g. v1.9) that has your 2.0 improvem

[2017-11-14 03:43] miketdonahue commented on #48
My project would also be interested in backward compatibility if possible 👍

[2018-02-06 21:44] browniefed opened #49 "Offsets"
This was brought up in a previous issue, seemed like something had been merged but don't see any offset support in v2.

Is this something that is planned?

Doing `col-offset-1` would be great versus rendering a new element of the offset size desired.

[2018-03-25 06:40] leeoniya opened #50 "nested grid within a col* without extra .grid element?"
hey @leejordan

is it possible to create a nested grid by simply adding .grid class to an existing .col* element and continue nesting more .col* directly within it?

i tried it with the nested example on the demo page but it didnt quite work.

thanks!

[2018-03-29 01:51] kn8sk opened #51 ".hidden-xlg"
Is there a reason why .hidden-xlg is missing from utility classes? Right now, I have not found a consistent way to control the visibility of elements at xlg breakpoint. All other classes up to .hidden-lg work as expected.

[2018-04-11 15:09] marcorieser commented on #51
Here is a pull request for your issue #52

[2018-04-17 19:13] marcorieser commented on #50
With the approach used here it doesn‘t seem possible to me.

[2018-04-18 09:26] leejordan commented on #51
This has been added to the latest version 2.0.2 Thanks Marco

[2018-04-18 09:26] #51 closed

[2018-04-18 09:26] leejordan commented on #49
This has been added to the latest version 2.0.2 Thanks Marco

[2018-04-18 09:26] #49 closed

[2018-04-18 09:27] leejordan commented on #50
Sorry but this won't work. The hierarchy of elements is quite strict.

[2018-04-18 09:27] #50 closed

[2018-04-18 09:28] leejordan commented on #48
I'm not sure if I can spare the time to do this but it certainly is possible to find/replace all the class names then build your own version.

[2018-04-25 14:58] jlafitte opened #54 "Offset and ordering not following column naming convention"
So the column naming convention is:
`.col-<breakpoint>-<n>`

But the order and offset are:
`.order-<n>-<breakpoint>`
`.offset-<n>-<breakpoint>`

This creates confusion for us.  We think they should be:
`.order-<breakpoint>-<n>`
`.offset-<breakpoint>-<n>`

I was just going to "fix" it in my fork, but then your nice documentation would no longer apply.  What do you think about this issue?  Any chanc

[2018-04-25 15:30] marcorieser commented on #54
Seems like i mixed up something with my pull request bringing in this feature. Why don't you fix the docs too and make a pull request?

[2018-04-26 19:23] jlafitte commented on #54
I wouldn't blame you as it looks like you were following the convention for order, but it seems to make sense that there is a global common naming convention.  SASS isn't really my specialty (my fork is a LESS version of it) but I will try to fix it and do a pull request when I can make some time.

[2018-04-27 06:19] marcorieser commented on #54
@jlafitte i pushed the fix as a pull request.

[2018-05-14 12:03] sense-design opened #56 "Ordering of css classes destroyes font spacing"
Example: `class="block col-sm-12"`

destroys my fonts within grid because on `.col-` the `^` is used and not `*`

When switching the class to `class="col-sm-12 block"` everything looks good but within CMS you sometimes have no direct possibility to change the class order.

[2018-05-22 10:01] snsxn opened #57 ".grid.justify-center overrides descendant text-aligns"
Hi, I'm really happy with this grid and I'm using it a lot, thank you!

I have an issue maybe because I'm totally dumb...

When using `justify-center`in `grid`, every element inside it can't have different text align options:

[code]

I'm missing something?

P.D: I'm currently commenting these part of the code to work again with text-aligns:
[code]

[2018-05-23 07:05] leejordan commented on #57
This is a side effect of the css that I use to support older browsers. There are a couple of options here.

1) if you don't need to support older (non-flexbox) browsers, you can build a new version of the css from the sass files with the variable [$legacy-support](https://github.com/leejordan/reflex/blob/master/scss/includes/_variables.scss#L18) set to false. This will remove all the legacy css.

[2018-05-23 07:09] leejordan commented on #56
I think this is a fair comment. I'm wondering now if there are any downsides to using the * wildcard.

[2018-05-23 07:11] leejordan commented on #54
I think this is a fair comment. I will look to merge marcorieser's pull request. The problem is that now I am used to using the classes in this way so although your suggested change is good for consistency it means I'll have to get used to the new syntax :)

[2018-05-23 09:37] marcorieser commented on #56
I think there should be no dowside to the wildcard. Possible fix could also be to generate each class for its own like bootstrap does it. Either way it should work in every position the class is set in html.

[2018-05-24 08:58] leejordan commented on #56
I suspect it performs much worse as a selector but I think this is a real problem that needs solving (even though it hasn't affected me yet)

[2018-06-25 22:01] dev4press opened #58 "Use Reflex Grid as a responsive table replacement"
Is it possible to use Reflex as a replacement for TABLE, so that colums are properly wrapped, and cells rearanged for responsive layout? Is there an example fir this available somewhere?

[2018-06-26 22:40] leejordan commented on #58
I'm not 100% sure I understand your requirement. Can you show me an example or maybe a mockup?

[2018-06-26 22:40] leejordan commented on #56
This is now fixed in the latest release

[2018-06-26 22:40] #56 closed

[2018-06-26 22:41] leejordan commented on #54
I still plan to merge this, I just need to find some time to look at it properly.

[2018-06-26 22:41] #48 closed

[2018-06-28 07:31] dev4press commented on #58
Classic HTML TABLE:

[code]

[2018-06-28 08:17] leejordan commented on #58
I can't really visualize how you would want the cells rearranged for responsive layout sorry

[2018-06-28 08:23] dev4press commented on #58
Each row has a number of cells, and for one row Reflex works fine, it is responsive. If I have 2 rows, they behave independently with Reflex, and each row has cells with different sizes. It only needs to keep the same layout, same cell size, just like table does for each row. Can Reflex 'sync' cell sizes for all rows in the same wrapper?

[2018-07-05 16:24] sntran opened #59 "Add CSS custom properties"
Would you consider add them in so others who use the minified CSS can still reference the variables?

Something like this:

https://github.com/leejordan/reflex/blob/b32a2fec58fe5f2394e82fe9a0924843c18926b1/less/reflex/_variables.less#L46-L60

[2018-07-25 07:42] iKova82 commented on #58
I think he want a fallback for wrapped items in older browsers with display:table; and display:table-cells;
This is what i also searching for.

[2018-07-25 07:49] iKova82 opened #60 "Question: mobile first?"
Hello, is this refelex grid mobile first?
Are the cols stacked by default in mobile view <= 576px?

Thanks!

[2018-07-25 08:15] leejordan commented on #60
You can control when they stack. Check the docs: http://reflexgrid.com/docs/#breakpoints

[2018-07-25 08:15] #60 closed

[2018-08-21 12:46] Dragomir-Ivanov opened #61 "Hidden vs Hidden-only"
Hi
Currently `hidden-*` classes hide only for certain screen size. It can become somewhat tedious for example  to specify a hidden element for `hidden-sm hidden-lg hidden-xlg`. Also it is not consistent with say boostrap similar classes. My proposal is to replace current `hidden-*` classes with `hidden-only-*` and have change `hidden-*` to include stated and bigger screens, so `hidden-sm` will hid

[2018-09-04 09:32] leejordan commented on #58
I'm not really sure if this will work with this grid. Unless anybody wants to experiment with it I'm not sure how to answer right now.

[2018-09-04 09:32] #58 closed

[2018-09-04 09:53] leejordan commented on #59
yes I think this is a good request and I will do it when I have time unless somebody else gets there first

[2018-10-11 19:48] sntran commented on #54
@leejordan Did you have a chance to look at this minor change? Consistency is good.

[2018-12-11 15:42] #59 closed

[2018-12-11 16:03] leejordan commented on #54
It's merged and in the latest release 2.0.4

Thanks!

[2018-12-11 16:03] #54 closed

[2019-02-15 10:07] despecial commented on #61
I agree and would suggest this naming pattern

hide-for-sm
hide-sm

[2019-09-26 12:16] skydivematy opened #63 "Still maintaining this project?"
Hi LeeJordan,
you still maintaining this project?
Greetings and thanks for this great work.

[2019-09-26 17:00] leejordan commented on #63
I consider it to be pretty much feature complete but if there's a bug or issue I would be interested.

This project was really useful to me to bridge the gap as browsers adopted flexbox, but flexbox coverage is pretty complete now, so I expect usage of this project to decline except where people are forced to support older browsers for whatever reason. I'm finding that happens less and less now pe

[2019-09-28 15:00] ghost commented on #63
Hi LeeJordan,
it was only a question. Yes it is very complete, no bugs and as i told " Great Work". I like it.

[2019-09-28 15:26] idenisovs commented on #63
Hi @leejordan! I would also like to say thank you for this great job!

[2019-09-30 06:38] leejordan commented on #63
Thanks very much :+1:

[2019-09-30 06:38] #63 closed

[2020-05-06 10:19] pixeldesignstudio commented on #14
This issue is still present in the newest release.
My custom class .text-center doesn't work because of the aggressive selector.
!important is no option in my opinion.

[2021-02-02 19:37] peter844 opened #64 "Mixins"
Can you update your mixins?
[https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Flexible_Box_Layout/Mixins](url)

[2021-02-11 13:14] leejordan commented on #64
Can you elaborate what needs to be updated?

[2021-02-27 07:43] Yoann-M opened #65 "Remove `only screen and` from `@media` inside reflex order helpers"
Hello 👋

First of all, many thanks for your work ... I ❤️ this CSS library.
I used it a lot and still today in many projects in production 🚀

I have a question regarding media queries:

Is there a specific reason to use  `@media only screen and (min-width: $reflex-xs)` for "reflex order helpers generation"  instead of `@media (min-width: $reflex-xs)`.

https://github.com/leejordan/reflex/blob/208a

[2021-02-28 08:56] Yoann-M commented on #61
Hello, I allow myself a little 🆙  on this topic.
If we take a look about the [Responsive Utilities in the Bootstrap V4 Alpha release](https://v4-alpha.getbootstrap.com/layout/responsive-utilities/), the proposal focuses on:
- `.hidden-sm-down` to hide size `sm` and smaller
- `.hidden-sm-up` to hide size `sm` and bigger
- `.hidden-sm` to hide size `sm` only

So, if we take a look about the [Bootstr

[2021-03-02 15:16] #64 closed

[2021-03-02 15:19] leejordan commented on #65
I think my intention here was not to apply the grid to any other media type such as `print` for example. Is there any risk involved in not specifying `screen` ?

[2021-03-04 07:53] Yoann-M commented on #65
Personally, I don't think there is a risk of not specifying `screen`.
Using `print` is only for very specific cases that can be taken into account in the CSS of the project in which `Reflex` is imported.

I took a look at
- Foundation (for sites) : ` @media print, screen and (min-width: 40em) {` -> `print`, `screen` are always declared
- Bootstrap : `@media (min-width: 1200px) {` -> nothing specif

[2021-03-04 13:24] leejordan commented on #65
Thanks for explaining it. I agree with your proposal and your reasons. I think we can follow the majority and use `@media (min-width: 1200px)`

[2021-04-01 08:31] #65 closed

[2021-06-14 13:13] jeroen-slagt opened #68 "Slash for divisions in SCSS will be deprecated"
Hi,

reflex-grid/scss/includes/_mixins.scss
uses a slash for division calculations.
percentage(($index / $reflex-columns))

This will be deprecated in SCSS in the future
Please use: math.div($index, $reflex-columns)

See: https://sass-lang.com/documentation/breaking-changes/slash-div

[2021-07-06 03:50] nvmt2 opened #69 "Poor UI and UX"
Option: Update User interface

-

[2021-07-06 08:42] leejordan commented on #69
Is this some sort of joke?

[2021-07-06 08:42] #69 closed

[2022-07-25 08:26] questionmark78 commented on #68
calc($index / $reflex-columns) will also work, which makes it perhaps a bit more readable code.